nav {
	background-color: black;
	p {
		color: white;
		font-family: "Ephesis", cursive;
		font-size: 3em;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-content: center;
	}
	button {
		justify-self: end;
	}
}
