nav {
	background-color: black;
	button {
		justify-self: end;
		z-index: 2;
	}
	.brand {
		z-index: 2;
		a {
			font-family: 'Ephesis', cursive;
			font-size: 3em;
		}
	}
	a {
		color: white;
		text-decoration: none;
		font-size: 1em;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
	}
	ul {
		z-index: 1;
		display: flex;
		list-style: none;
		position: fixed;
		left: 0;
		background: black;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -30%);
		-webkit-clip-path: circle(100px at 90% -30%);
		transition: all 1s ease-out;
		pointer-events: none;
		align-items: center;
		justify-content: center;

		&.open {
			clip-path: circle(1500px at 90% -10%);
			-webkit-clip-path: circle(1500px at 90% -10%);
			pointer-events: all;
		}
	}
	li {
		margin: 20px 0;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-content: center;
	}
}
@media screen and (min-width: $breakpoint-tablet) {
	nav {
		.hamburger {
			display: none;
		}
		ul {
			position: initial;
			height: auto;
			flex-direction: row;
			clip-path: none;
			justify-content: space-evenly;
			pointer-events: all;
		}
	}
}
