.form-label {
	color: #f9bd66;
}
input,
select,
textarea {
	width: 100%;
	border: 2px solid $gray;
	box-sizing: border-box;
	resize: none;
}
.ingredient-input-container,
.instructions-input-container,
.recipe-info-container {
	border: 2px solid $gray;
	margin: 10px 0;
	padding: 20px 10px;
}
.form-button {
	width: 100%;
	margin: 10px auto;
	padding: 20px 0;
}
.ingredient-input-container,
.instructions-input-container {
	button {
		width: 100%;
		margin: 10px auto;
		padding: 20px 0;
	}
}

@media screen and (min-width: $breakpoint-desktop) {
	form.container {
		max-width: 50vw;
	}
}
