.recipe-card {
	margin: 20px auto;
	text-align: center;
	.card-title {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		margin-top: 0;
		text-align: left;
	}
}
.card-image-container {
	position: relative;

	img {
		object-fit: cover;
		height: 300px;
		opacity: 0.8;
	}
	.recipe-buttons {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		transition: all 1s ease-out;
		width: 60%;
		flex-direction: row;
	}
	.button {
		margin: 5px auto;
		flex: 1 0 50%;
	}
}

@media screen and (min-width: $breakpoint-laptop) {
	.card-image-container {
		opacity: 1;
		.recipe-buttons {
			display: none;
		}
		&:hover {
			opacity: 0.8;
		}

		&:hover + .recipe-buttons {
			display: inline-block;
		}
	}
	.recipe-buttons {
		display: none;
	}

	.card-image-container:hover > .recipe-buttons {
		display: flex;
		flex-wrap: wrap;
	}
}
